.tm-img-fluid {
    max-height: 600px;
    max-width: 600px;
}

.tm-rounded {
    border-radius: .25rem !important;
}

.flex-container {
    display: flex;
}

#topomojo-markdown {
    margin-top: 10px;
}

#topomojo-markdown table {
    border-collapse: collapse;
}

#topomojo-markdown table td, 
#topomojo-markdown table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#topomojo-markdown table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#topomojo-markdown table tr:hover {
    background-color: #ddd;
}

#topomojo-markdown table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f5f5f5;
    color: black;
}

.notification-box {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-radius: .5rem;
    max-width: 300px;
    word-wrap: break-word;
}

.notification-style {
    color: #00434e;
    background-color: #cce6ea;
    border-color: #b8dce2;
}

.license-info {
    font-family: Arial, sans-serif; /* Modern font */
    font-size: 14px;          /* Readable font size */
    line-height: 1.5;         /* Better line spacing */
}

.license-info a {
    color: #0073e6;           /* Link color */
    text-decoration: none;    /* Remove underline */
}

.license-info a:hover {
    text-decoration: underline; /* Underline on hover */
}

.spinner {
    margin-left: 10px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #555;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 0.8s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}