{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

Topomojo Plugin for Moodle
Copyright 2020 Carnegie Mellon University.
NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
Released under a GNU GPL 3.0-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
[DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution.  Please see Copyright notice for non-US Government use and distribution.
This Software includes and/or makes use of the following Third-Party Software subject to its own license:
1. Moodle (https://docs.moodle.org/dev/License) Copyright 1999 Martin Dougiamas.
DM20-0196
}}

{{!
    @template mod_topomojo/clock

    This template renders a timer for the lab duration.

            Example context (json):
            {
                "extend": "1",
            }
}}

<div id="controls">
    <span id="timer"></span>
    {{#extend}}
    <button id="extend-event" style"display:inline" class="btn btn-primary">{{extend}}</button>
    {{/extend}}
    <form id="stop_form" action="{{url}}" method="post" style="display:inline">
        <input id="workspaceid" type="hidden" name="workspaceid" value="{{workspaceid}}" />
        <input id="stop_confirmed" type="hidden" name="stop_confirmed" value="" />
        <input id="end_button" class="btn btn-primary" type="submit" name="stop" value="{{# str }} stoplab, mod_topomojo {{/ str }}" />
    </form>
    <span id="invitationlinkurl" style="display:none"></span>
    <button id="generate_invite" class="btn btn-primary">{{# str }} invitelink, mod_topomojo {{/ str }}</button>
    <button id="copy_invite" class="btn btn-primary" style="display:none">{{# str }} copyinvite, mod_topomojo {{/ str }}</button>
</div>
<br>

<script type="text/javascript">
    document.getElementById('end_button').addEventListener('click', function(event) {
        if (!confirm("Are you sure you want to stop the attempt?\nThis will destroy the lab on TopoMojo.")) {
            event.preventDefault(); // Prevent the form from being submitted if the user cancels
        } else {
            document.getElementById('stop_confirmed').value = "yes";
        }
    });
</script>