<div class="topomojo-directory topomojo-overview">
  <div class="topomojo-directory__header">
    <div class="topomojo-directory__brand topomojo-directory__brand--large">
      <span class="topomojo-directory__emoji">🎮</span>
    </div>
    <div class="topomojo-directory__heading">
      <div class="topomojo-directory__title topomojo-directory__title--large">{{#str}} topomojo, mod_topomojo {{/str}}</div>
    </div>
    {{#actionmenu}}
    <div class="ms-auto">
      {{{actionmenu}}}
    </div>
    {{/actionmenu}}
  </div>

  <div class="topomojo-directory__content">
    {{{content}}}
  </div>

  <div class="topomojo-directory__body">
    <div class="topomojo-directory__grid">
      <a href="{{all_url}}" class="topomojo-directory__link">
        <div class="topomojo-directory__card">
          <div class="topomojo-directory__card-icon">
            <img src="{{icon}}" alt="{{#str}} topomojo, mod_topomojo {{/str}}">
          </div>
          <div class="topomojo-directory__card-content">
            <div class="topomojo-directory__card-title">{{#str}} topomojo_viewall, mod_topomojo {{/str}}</div>
            <div class="topomojo-directory__card-description">{{#str}} topomojo_viewall_desc, mod_topomojo {{/str}}</div>
            <div class="topomojo-directory__cta-wrap">
              <span class="topomojo-directory__cta">▶ {{#str}} view {{/str}}</span>
            </div>
          </div>
        </div>
      </a>

      <a href="{{lod_url}}" class="topomojo-directory__link">
        <div class="topomojo-directory__card">
          <div class="topomojo-directory__card-icon">
            <img src="{{icon}}" alt="{{#str}} topomojo, mod_topomojo {{/str}}">
          </div>
          <div class="topomojo-directory__card-content">
            <div class="topomojo-directory__card-title">{{#str}} topomojo_lod, mod_topomojo {{/str}}</div>
            <div class="topomojo-directory__card-description">{{#str}} topomojo_lod_desc, mod_topomojo {{/str}}</div>
            <div class="topomojo-directory__cta-wrap">
              <span class="topomojo-directory__cta">▶ {{#str}} view {{/str}}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
