{{!
    @template mod_topomojo/timer

    This template renders the active lab timer.
}}
<span class="topomojo-lab-timer d-block mt-3">
    <span id="timer" class="mb-0" style="display:inline-block;"></span>
</span>
